body {
    background-image: url("/DesafíoEntregable2/assets/y-so-serious.png");
}

#main {
    color: white;
    margin: 3%;
}

.card{
    margin: 2%;
    background-color: #2f2e2e;
}

.card-body{
    background-color: #534646 ;
    color: white;
}

#products{
    align-self: center;
}

#navbar{
    background-image: url("/DesafíoEntregable2/assets/ywhite.png");
}